:root {
    --background-color: #788475;
    --link-color: #123524;
    --heading-color: #eee;
    --text-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
      --background-color: #354230;
      --link-color: #8AB800;
      --visited-color: #8b6fcb;
    }
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: #ffffff;
}

strong,
b {
  color: #F2DDA4;
}
