{% extends "boring/templates/index.html" %}

{% block pages %}
<div class="mt-4 text-4xl xl:text-xl">
    <div class="group">
        <a class="font-sans text-gray-600 hover:text-gray-400
            dark:text-slate-500 dark:hover:text-slate-400 transition"
            href="/about">
            Who am I?
            <i class="las la-arrow-right"></i>
        </a>
        <p class="inline text-white bg-green-900 opacity-0 ease-in-out duration-150 group-hover:opacity-100">
            About
        </p>
    </div>
    <div class="group">
        <a class="font-sans text-gray-600 hover:text-gray-400
            dark:text-slate-500 dark:hover:text-slate-400 transition"
            href="/blog">
            What do I think? 
            <i class="las la-arrow-right"></i>
        </a>
        <p class="inline text-white bg-green-900 opacity-0 ease-in-out duration-150 group-hover:opacity-100">
            Blog
        </p>
    </div>
    <div class="group">
        <a class="font-sans text-gray-600 hover:text-gray-400
            dark:text-slate-500 dark:hover:text-slate-400 transition"
            href="/blog">
            What do I work on? 
            <i class="las la-arrow-right"></i>
        </a>
        <p class="inline text-white bg-green-900 opacity-0 ease-in-out duration-150 group-hover:opacity-100">
            Projects
        </p>
    </div>
    <div class="group">
        <a class="font-sans text-gray-600 hover:text-gray-400
            dark:text-slate-500 dark:hover:text-slate-400 transition"
            href="/blog">
            What have I done?
            <i class="las la-arrow-right"></i>
        </a>
        <p class="inline text-white bg-green-900 opacity-0 ease-in-out duration-150 group-hover:opacity-100">
            Resume
        </p>
    </div>
    <div class="group">
        <a class="font-sans text-gray-600 hover:text-gray-400
            dark:text-slate-500 dark:hover:text-slate-400 transition"
            href="/blog">
            What have I written?
            <i class="las la-arrow-right"></i>
        </a>
        <p class="inline text-white bg-green-900 opacity-0 ease-in-out duration-150 group-hover:opacity-100">
            Writings
        </p>
    </div>
</div>
{% endblock pages%}

